AZURE_OPENAI_API_KEY='we dont use this'
# Database setting

DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,202.191.56.91,www.google.com,be-staging-ai-research.hust.edu.vn
POSTGRES_DB=<db_name>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<password>
POSTGRES_HOST=<postgres_host> # should be localhost
POSTGRES_PORT=<port> # 5432 default


# Single Sign On
GOOGLE_CLIENT_ID="replace this"
GOOGLE_CLIENT_SECRET="replace this"

MICROSOFT_CLIENT_ID="replace this"
MICROSOFT_CLIENT_SECRET="replace this"

# Frontend
FRONTEND_URL="http://127.0.0.1:3000"
API_URL="https://0.0.0.0:8000"